* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: DynaPuff, Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(246,238,227);
}

svg {
    fill: rgb(173, 228, 176);
    stroke: rgb(110, 145, 112);
    stroke-width: 1px;
    transform-origin: center;
    transition: all 0.25s linear;
    position: relative;
    top: 6vh;
    right: 8vw;
    /*Remove blur upon image translation*/
    backface-visibility: hidden;
}

path:hover {
    fill: rgb(154, 218, 170);
}

path:active {
    fill: rgb(143, 189, 154);
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}

.intro-sidebar {
    width: 30%;
    height: 100%;
    min-width: 180px;
    position: absolute;
    border-left: 5px solid rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: rgb(255, 255, 188);
    background-color: rgba(107, 51, 6, 0.7);
    text-align: left;
}

.hidden {
    display: none;
}

.world-map {
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, rgb(112, 234, 255), rgb(56, 163, 235));
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;   
    cursor: grab;
}

.dragging {
    cursor: grabbing;
}

#close {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 30%;
    font-weight: bolder;
    color: white;
    background-color: rgba(255, 0, 0, 45%);
    float: right;
}

@media (orientation : portrait) {
    .world-map {
        overflow: scroll;
    }
}