* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(246,238,227);
}

svg {
    fill: rgb(54, 201, 62);
    stroke: rgb(43, 128, 48);
    stroke-width: 3px;
    transform-origin: center;
    transition: all 0.25s linear;
    position: relative;
    top: 6vh;
    right: 8vw;
}

path:hover {
    fill: rgb(95, 219, 126);
}

path:active {
    fill: rgb(105, 180, 124);
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}

.info {
    width: 30%;
    height: 100%;
    position: absolute;
    border-left: 5px solid rgba(0, 0, 0, 0.7);
    padding: 5px;
    color: rgb(255, 255, 188);
    background-color: rgba(1, 82, 136, 0.7);
}

.hidden {
    display: none;
}

.world-map {
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, rgb(112, 234, 255), rgb(56, 163, 235));
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;   
    cursor: grab;
}

.dragging {
    cursor: grabbing;
}

#close {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 30%;
    font-weight: bolder;
    color: white;
    background-color: rgba(255, 0, 0, 45%);
    float: right;
}

@media (orientation : portrait) {
    .world-map {
        overflow: scroll;
    }
}